html,
body {
    margin: 0;
    padding: 0
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p {
    margin: 0.5rem;
}

#movie-wrapper {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.moviebox {
    margin: 2rem;
}

.movie-cover {
    width: 250px;
    height: 350px;
    background-image: url("images/nocover.jpg");
    background-size: cover;
}

.inline-link {
    margin: 1rem;
}

.inline-link,
.genre-box {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-variant: small-caps;
}

.genre-box {
    display: inline-block;
    background: cornflowerblue;
    color: white;
    padding: 3px 5px;
    margin: 3px;
    border-radius: 3px;
}