.card {
    flex: 0 0 0% !important;
    margin: 1rem;
}

nav .navbar {
    min-width: 100% !important;
}

.sticky-top {
    min-width: 100%;
}

button,
input,
textarea,
select {
    font-family: 'Merriweather', serif !important;
}