.hidden {
    display: none !important;
}

.visible {
    animation: show .3s ease-in-out;
}

@keyframes show {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: flex;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}