#logo {
    max-width: 80px;
    font-size: 1.5rem;
    padding: 0 0.5rem;
    background: #f5de50;
    border: 5px solid #f5de50;
    border-radius: 10%;
}

h2 {
    margin-top: 0.5rem;
}

h3 {
    text-align: center;
    margin: 0.5rem;
}

.title {
    font-family: 'Bangers', cursive;
    line-height: 2rem;
    font-size: 1.75rem;
    color: #CD5C5C;
    // margin: 2rem 0 1rem 0;
}

p {
    margin: 0.5rem 0rem;
    line-height: 1.5rem;
}