@import "bs-tweaks";
@import "type";
@import "padding-margin";
@import "display";
@import "spinner";
html,
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Merriweather', serif;
}

header {
    align-items: center;
    padding: 0.5rem;
}

a {
    text-decoration: none;
    color: dimgrey;
    cursor: pointer;
    &:hover {
        text-decoration: underline !important;
    }
    &:focus {
        outline-color: transparent !important;
    }
}

nav {
    transition: background 0.5s ease;
}

label {
    padding: 0.25rem;
}

hr {
    width: 45%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav-row {
    min-width: 100%;
    max-width: 100%;
    text-align: center;
}

#add-movie-section,
#search-movie-section {
    width: 50%;
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
}

.tone-down {
    color: lightslategrey;
}

.credits {
    margin-left: 0px;
}

.goodgrade {
    color: seagreen;
    font-weight: bold;
}

.badgrade {
    color: indianred;
    font-weight: bold;
}

#movie-wrapper {
    flex-wrap: wrap;
    transition: all 0.3s ease;
}

.moviebox {
    animation: show .5s ease-in-out;
}

.movie-cover {
    width: 200px;
    height: 280px;
    background-image: url("../../images/nocover.jpg");
    background-size: cover;
    border: 1px solid lightgray;
}

.genre-box {
    display: inline-block;
    background: cornflowerblue;
    color: white;
    padding: 3px 5px;
    margin: 3px 3px 6px 0px;
    border-radius: 3px;
}

.sliderbox {
    margin: 2rem 0;
    padding: 2rem 1rem;
}

.search-row {
    margin: 0.5rem;
}

#no-result {
    text-align: center;
    margin: 3rem;
}

.edit-genre-box {
    border: 1px solid lightslategrey;
    padding: 0.5rem;
    margin: 1rem 0rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nobreak {
    white-space: nowrap;
}